# Configure line endings for Unix files.
.editorconfig   text eol=lf
.gitignore      text eol=lf
.rspec          text eol=lf
.solargraph     text eol=lf
Gemfile         text eol=lf
Gemfile.lock    text eol=lf
Makefile        text eol=lf
Rakefile        text eol=lf
bin/*           text eol=lf
*.builder       text eol=lf
*.coffee        text eol=lf
*.css           text eol=lf
*.csv           text eol=lf
*.erb           text eol=lf
*.example       text eol=lf
*.gemspec       text eol=lf
*.haml          text eol=lf
*.html          text eol=lf
*.inky          text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.rake          text eol=lf
*.rb            text eol=lf
*.ru            text eol=lf
*.scss          text eol=lf
*.sh            text eol=lf
*.sql           text eol=lf
*.svg           text eol=lf
*.todo          text eol=lf
*.tf            text eol=lf
*.tpl           text eol=lf
*.txt           text eol=lf
*.yml           text eol=lf
*.xml           text eol=lf
